<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>modelList</key>
		<array>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>选项卡相关</string>
				<key>className</key>
				<string>StepViewController</string>
				<key>modelList</key>
				<array>
					<dict>
						<key>className</key>
						<string>StepViewController</string>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<false/>
						<key>title</key>
						<string>缩进式选项卡</string>
						<key>modelList</key>
						<array/>
					</dict>
				</array>
			</dict>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>界面相关动画效果</string>
				<key>className</key>
				<string>StepViewController</string>
				<key>modelList</key>
				<array>
					<dict>
						<key>className</key>
						<string>CollectionViewVCViewController</string>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<false/>
						<key>title</key>
						<string>CollectionViewVC效果</string>
						<key>modelList</key>
						<array/>
					</dict>
                    <dict>
                        <key>className</key>
                        <string>TouchViewController</string>
                        <key>rowNumber</key>
                        <integer>2</integer>
                        <key>isRoot</key>
                        <false/>
                        <key>title</key>
                        <string>3D Touch 效果</string>
                        <key>modelList</key>
                        <array/>
                    </dict>
				</array>
			</dict>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>进度条相关</string>
				<key>className</key>
				<string>StepViewController</string>
				<key>modelList</key>
				<array>
					<dict>
						<key>className</key>
						<string>ProgressViewController</string>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<false/>
						<key>title</key>
						<string>相关完成度</string>
						<key>modelList</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
		<key>rowNumber</key>
		<integer>0</integer>
		<key>isRoot</key>
		<true/>
		<key>title</key>
		<string>界面UI相关</string>
		<key>className</key>
		<string>StepViewController</string>
	</dict>
	<dict>
		<key>rowNumber</key>
		<integer>0</integer>
		<key>isRoot</key>
		<true/>
		<key>title</key>
		<string>南阳</string>
		<key>className</key>
		<string>StepViewController</string>
		<key>modelList</key>
		<array>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>南阳市区</string>
				<key>className</key>
				<string>StepViewController</string>
				<key>modelList</key>
				<array>
					<dict>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<true/>
						<key>title</key>
						<string>卧龙区</string>
						<key>className</key>
						<string>StepViewController</string>
						<key>modelList</key>
						<array>
							<dict>
								<key>rowNumber</key>
								<integer>3</integer>
								<key>isRoot</key>
								<true/>
								<key>title</key>
								<string>蒲山镇</string>
								<key>className</key>
								<string>StepViewController</string>
								<key>listType</key>
								<integer>1</integer>
								<key>modelList</key>
								<array>
									<dict>
										<key>rowNumber</key>
										<integer>4</integer>
										<key>isRoot</key>
										<false/>
										<key>title</key>
										<string>张家村</string>
										<key>className</key>
										<string>StepViewController</string>
										<key>listType</key>
										<integer>1</integer>
										<key>modelList</key>
										<array/>
									</dict>
									<dict>
										<key>rowNumber</key>
										<integer>4</integer>
										<key>isRoot</key>
										<false/>
										<key>title</key>
										<string>达士营</string>
										<key>className</key>
										<string>StepViewController</string>
										<key>listType</key>
										<integer>1</integer>
										<key>modelList</key>
										<array/>
									</dict>
									<dict>
										<key>rowNumber</key>
										<integer>4</integer>
										<key>isRoot</key>
										<false/>
										<key>title</key>
										<string>赵河镇</string>
										<key>className</key>
										<string>StepViewController</string>
										<key>listType</key>
										<integer>1</integer>
										<key>modelList</key>
										<array/>
									</dict>
								</array>
							</dict>
							<dict>
								<key>rowNumber</key>
								<integer>3</integer>
								<key>isRoot</key>
								<true/>
								<key>title</key>
								<string>七里河乡</string>
								<key>className</key>
								<string>StepViewController</string>
								<key>listType</key>
								<integer>1</integer>
								<key>modelList</key>
								<array/>
							</dict>
							<dict>
								<key>rowNumber</key>
								<integer>3</integer>
								<key>isRoot</key>
								<true/>
								<key>title</key>
								<string>白塔镇</string>
								<key>className</key>
								<string>StepViewController</string>
								<key>listType</key>
								<integer>1</integer>
								<key>modelList</key>
								<array/>
							</dict>
						</array>
					</dict>
					<dict>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<true/>
						<key>title</key>
						<string>高新区</string>
						<key>className</key>
						<string>StepViewController</string>
						<key>modelList</key>
						<array/>
					</dict>
					<dict>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<true/>
						<key>title</key>
						<string>宛城区</string>
						<key>className</key>
						<string>StepViewController</string>
						<key>modelList</key>
						<array/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
