<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>modelList</key>
		<array>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>郑州市区</string>
				<key>listType</key>
				<integer>0</integer>
                <key>modelList</key>
                <array>
                </array>
			</dict>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>开封</string>
				<key>listType</key>
				<integer>0</integer>
                <key>modelList</key>
                <array>
                </array>
			</dict>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>title</key>
				<string>新密</string>
				<key>listType</key>
				<integer>0</integer>
                <key>modelList</key>
                <array>
                </array>
			</dict>
		</array>
		<key>rowNumber</key>
		<integer>0</integer>
		<key>isRoot</key>
		<true/>
		<key>title</key>
		<string>郑州</string>
		<key>listType</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>rowNumber</key>
		<integer>0</integer>
		<key>isRoot</key>
		<true/>
		<key>title</key>
		<string>南阳</string>
		<key>listType</key>
		<integer>1</integer>
		<key>modelList</key>
		<array>
			<dict>
				<key>rowNumber</key>
				<integer>1</integer>
				<key>isRoot</key>
				<true/>
				<key>listType</key>
				<integer>1</integer>
				<key>title</key>
				<string>南阳市区</string>
				<key>modelList</key>
				<array>
					<dict>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<true/>
						<key>title</key>
						<string>卧龙区</string>
						<key>listType</key>
						<integer>1</integer>
						<key>modelList</key>
						<array>
							<dict>
								<key>rowNumber</key>
								<integer>3</integer>
								<key>isRoot</key>
								<true/>
								<key>title</key>
								<string>蒲山镇</string>
								<key>listType</key>
								<integer>1</integer>
								<key>modelList</key>
								<array>
									<dict>
										<key>rowNumber</key>
										<integer>4</integer>
										<key>isRoot</key>
										<false/>
										<key>title</key>
										<string>张家村</string>
										<key>listType</key>
										<integer>1</integer>
                                        <key>modelList</key>
                                        <array>
                                        </array>
									</dict>
									<dict>
										<key>rowNumber</key>
										<integer>4</integer>
										<key>isRoot</key>
										<false/>
										<key>title</key>
										<string>达士营</string>
										<key>listType</key>
										<integer>1</integer>
                                        <key>modelList</key>
                                        <array>
                                        </array>
									</dict>
									<dict>
										<key>rowNumber</key>
										<integer>4</integer>
										<key>isRoot</key>
										<false/>
										<key>title</key>
										<string>赵河镇</string>
										<key>listType</key>
										<integer>1</integer>
                                        <key>modelList</key>
                                        <array>
                                        </array>
									</dict>
								</array>
							</dict>
							<dict>
								<key>rowNumber</key>
								<integer>3</integer>
								<key>isRoot</key>
								<true/>
								<key>title</key>
								<string>七里河乡</string>
								<key>listType</key>
								<integer>1</integer>
                                <key>modelList</key>
                                <array>
                                </array>
							</dict>
							<dict>
								<key>rowNumber</key>
								<integer>3</integer>
								<key>isRoot</key>
								<true/>
								<key>title</key>
								<string>白塔镇</string>
								<key>listType</key>
								<integer>1</integer>
                                <key>modelList</key>
                                <array>
                                </array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<true/>
						<key>title</key>
						<string>高新区</string>
						<key>listType</key>
						<integer>1</integer>
                        <key>modelList</key>
                        <array>
                        </array>
					</dict>
					<dict>
						<key>rowNumber</key>
						<integer>2</integer>
						<key>isRoot</key>
						<true/>
						<key>title</key>
						<string>宛城区</string>
						<key>listType</key>
						<integer>1</integer>
                        <key>modelList</key>
                        <array>
                        </array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
