<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>ViewVerbViewController</string>
		<key>title</key>
		<string>转场动画</string>
	</dict>
    <dict>
        <key>className</key>
        <string>RandomViewController</string>
        <key>title</key>
        <string>不规则图形</string>
    </dict>
    <dict>
        <key>className</key>
        <string>SettleViewController</string>
        <key>title</key>
        <string>结算页面效果设计</string>
    </dict>
    <dict>
        <key>className</key>
        <string>NewPerfectViewController</string>
        <key>title</key>
        <string>滚动效果</string>
    </dict>
	<dict>
		<key>title</key>
		<string>CollectionViewCell重排</string>
		<key>className</key>
		<string>CollectionViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>UICollectionView旋转布局</string>
		<key>className</key>
		<string>RotationViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>融云即时通讯</string>
		<key>className</key>
		<string>LoginViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Masory布局</string>
		<key>className</key>
		<string>MasoryViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>表布局</string>
		<key>className</key>
		<string>MasonryListViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>密码键盘</string>
		<key>className</key>
		<string>SecretViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义导航</string>
		<key>className</key>
		<string>MYNavgViewController</string>
	</dict>
</array>
</plist>
