<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UserName</key>
		<string>张三</string>
		<key>UserID</key>
		<string>张三</string>
		<key>UserPortrait</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1523186178036&amp;di=bb278f0fc6ca577425d71d8d52c7c8dd&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fd439b6003af33a87b91c3610cc5c10385343b542.jpg</string>
	</dict>
	<dict>
		<key>UserName</key>
		<string>李四</string>
		<key>UserID</key>
		<string>李四</string>
		<key>UserPortrait</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1523186178264&amp;di=3384702d6b649b40fe362362b87ef955&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimage%2Fc0%253Dshijue1%252C0%252C0%252C294%252C40%2Fsign%3D43c9621817950a7b6138468762b808ac%2F03087bf40ad162d9fd125b321bdfa9ec8a13cd1b.jpg</string>
	</dict>
	<dict>
		<key>UserName</key>
		<string>王五</string>
		<key>UserID</key>
		<string>王五</string>
		<key>UserPortrait</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1523186178264&amp;di=1a6727fa8fa489487a29b675ee9732c3&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fb58f8c5494eef01f8d0bf9e1eafe9925bc317df3.jpg</string>
	</dict>
	<dict>
		<key>UserPortrait</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1523186178263&amp;di=24729df2f28d8499ec962bd39339a459&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Feac4b74543a98226acf68c338082b9014a90ebeb.jpg</string>
		<key>UserName</key>
		<string>赵六</string>
		<key>UserID</key>
		<string>赵六</string>
	</dict>
	<dict>
		<key>UserName</key>
		<string>12345678</string>
		<key>UserID</key>
		<string>12345678</string>
		<key>UserPortrait</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1523177363725&amp;di=46e93363717e4b82871126af627cee5d&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F32fa828ba61ea8d35e5c44059d0a304e251f58b0.jpg</string>
	</dict>
	<dict>
		<key>UserPortrait</key>
		<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1523162504793&amp;di=6d81ee819c96ed186f1a9bf4fb422b89&amp;imgtype=0&amp;src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2Fb21c8701a18b87d6232299000d0828381f30fd48.jpg</string>
		<key>UserID</key>
		<string>13213185224</string>
		<key>UserName</key>
		<string>13213185224</string>
	</dict>
</array>
</plist>
